<a class="pokemon" href="">
    <section class="container">
        <img src="/assets/img/Bulbasaur.png" alt="imagen_pokemon">
    </section>
    <section class="informacion">
        <h2>
            Bulbasaur
        </h2>
        <ul>
            <li>Grass</li>
            &nbsp;
            <li>Poison</li>
        </ul>
    </section>
</a>
<a class="pokemon" href="">
    <section class="container">
        <img src="/assets/img/Bulbasaur.png" alt="imagen_pokemon">
    </section>
    <section class="informacion">
        <h2>
            Bulbasaur
        </h2>
        <ul>
            <li>Grass</li>
            &nbsp;
            <li>Poison</li>
        </ul>
    </section>
</a>

<a class="pokemon" href="">
    <section class="container">
        <img src="/assets/img/Bulbasaur.png" alt="imagen_pokemon">
    </section>
    <section class="informacion">
        <h2>
            Bulbasaur
        </h2>
        <ul>
            <li>Grass</li>
            &nbsp;
            <li>Poison</li>
        </ul>
    </section>
</a>
<a class="pokemon" href="">
    <section class="container">
        <img src="/assets/img/Bulbasaur.png" alt="imagen_pokemon">
    </section>
    <section class="informacion">
        <h2>
            Bulbasaur
        </h2>
        <ul>
            <li>Grass</li>
            &nbsp;
            <li>Poison</li>
        </ul>
    </section>
</a>
