/* Estilos globales */
@import '/src/config-scss/variables.scss';
@import '/src/config-scss/reset.scss';
@import '/src/config-scss/rem-calc.scss';
@import '/src/config-scss/btn.scss';
@import '/src/config-scss/animation.scss';

@mixin mv($media:430) {
	@media screen and (max-width: $media) {
		@content;
	}
}

html {
	font-family: 'Roboto', sans-serif;
	background: var(--color-mobile);
}

main {

	@include mv (rem-calc(1500)) {
		padding: 0 50px;
		margin: 0 auto;
		box-sizing: border-box;
	}

}



